header {
    border-bottom: 2px solid $bordeaux;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    justify-content: center;
    z-index: 10;
    background-color: $white;
   
}

.nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;

    &__logo-img{
        width: 80%;
        padding: 0.8rem;
    }

    &__menu {
        display: flex;
        flex: 0 0 calc(100% / 12 * 7);
        justify-content: space-between;
        color: $black;

        @include respond(tablet) {
           position: fixed;
           left: 10%;
           top: 0;
           height: 100vh;
           padding: 25% 10% 25% 10%;
           background-color: $white;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           
           z-index: 15;
           border-left: 2px solid $bordeaux;
           transform: translateX(100%);
           transition: transform 0.5s ease-in;
        }

        &--active{
            transform: translateX(0%);
        }
    }

    &__link {
        @include respond(tablet) {
            display: block;
            opacity: 0;
        }

        &:hover {
            transition: 0.2s ease-in-out;
            color: $strong-pink;
        }
    }
}

.nav__burger {
    display: none;
    cursor: pointer;
    z-index: 20;
    
    div {
        transition: all 0.3s ease;
        width: 30px;
        height: 3px;
        background-color: $bordeaux;
        margin: 5px;       
    }

    .toggle &-line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle &-line2 {
        opacity: 0;
    }

    .toggle &-line3 {
        transform: rotate(45deg) translate(-5px, -6px);    
    }

    @include respond(tablet) {
       display: block;
    }
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

